html {
  font-size: 14px;
  color: #2d3c49;
  max-width: 80em;
  margin: 0 auto;
}
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30px;
    font-size: 6vw;
}

h3 {
    font-size: 20px;
    font-size: 4vw;
}

h4 {
    font-size: 3vw;
}

img {
    max-width: 100%;
}

p {
    word-wrap: break-word;
}

/* Header */
.logo {
    max-height: 10em;
    background-color: #02b3e4;
}

.title {
    text-align: right;
    text-transform: uppercase;
    vertical-align:middle;
}

.subtitle {
    font-size: 15px;
    font-size: 4vw;
    margin-top: 0;
}

.horizontal-bar {
    background-color: #7d97ad;
    max-width: 100vw;
    height: 0.133vw;
    margin: 1em auto;;
}

/* Content */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #2d3c49;
}

article {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title-project{
    text-transform: uppercase;
}

.content-title {
    color: #7d97ad;
    font-size: 2.66vw;
}

@media (max-width: 30em) {
    h1 {
        font-size: 1.5em;
    }

    h3,
    .title-project,
    .content-title {
        font-size: 1.2em;
    }

}
@media (min-width: 70em) {
    h1 {
        font-size: 4em;
    }

    h3,
    .subtitle {
        font-size: 3em;
    }

    .title-project,
    .content-title {
        font-size: 2em;
    }
}
