html {
  font-size: 14px;
  max-width: 80em;
  margin: 0 auto;
}
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 20px;
    font-size: 6vw;
}

h3 {
    font-size: 4vw;
}
article {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
    article h3{
        text-transform: uppercase;
    }

.logo {
    background-color: #02b3e4;
    padding: 1em auto;
}

.title {
    text-align: right;
    text-transform: uppercase;
    vertical-align:middle;
}
    .title h3 {
        font-size: 15px;
        font-size: 2vw;
        margin-top: 0;
    }
.h-bar {
    background-color: #7d97ad;
    max-width: 100vw;
    height: 0.3vw;
    margin: 1em auto;;
}
.subtitle {
    color: #7d97ad;
}
.project img {
    margin-left:auto;
    margin-right:auto;
}
@media (max-width: 30em) {
    h1 {
        font-size: 6vw;
    }
    h3 {
        font-size: 4vw;
    }
    .title h3 {
        font-size: 4vw;
    }
}
@media (min-width: 70em) {
    h1 {
        font-size: 4em;
    }
    h3 {
        font-size: 3em;
    }
}
